In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#reads each file into its relevant dataframes

df2025 = pd.read_csv('/2025.csv')
df2024 = pd.read_csv('/2024.csv')
df2023 = pd.read_csv('/2023.csv')
df2022 = pd.read_csv('/2022.csv')

In [ ]:
#display the first few rows of the dataframe 2025

df2025.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category4_name_en,venture_category5_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2025-01,87,LK1002H,kumara-lakmal,EL,Mobiles & Tablets,Mobile Accessories,Wall Chargers,NaN,NaN,NaN,Marketplace,Daraz,5.262279,5.262279,1,1,1,NaN,NaN
1,2025-01,87,LK1002H,kumara-lakmal,Fashion,Watches Sunglasses Jewellery,Watches,Unisex,Sports,NaN,NaN,Marketplace,Daraz,99.846677,84.037208,21,21,5,NaN,NaN
2,2025-01,87,LK1002H,kumara-lakmal,GM,Motors,Automotive,Exterior Vehicle Care,Polishing & Rubbing Compounds,NaN,NaN,Marketplace,Daraz,7.333384,7.333384,2,2,2,NaN,NaN
3,2025-01,236,LK1006R,mobile-lankans,FMCG,Health & Beauty,Beauty Tools,Hair Removal Accessories,NaN,NaN,NaN,Marketplace,Daraz,3.176318,3.176318,1,1,1,NaN,NaN
4,2025-01,236,LK1006R,mobile-lankans,GM,Sports & Outdoors,Exercise & Fitness,Pilates,Spine Supporters,NaN,NaN,Marketplace,Daraz,97.563469,53.049824,19,20,16,NaN,NaN

In [ ]:
#display the first few rows of the dataframe 2024

df2024.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category4_name_en,venture_category5_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2024-01,34,LK1000Z,Catchme,GM,Sports & Outdoors,Outdoor Recreation,Cycling,Cycling Clothing,Bike Helmets,NaN,Marketplace,Daraz,2.517528,2.517528,1.0,1.0,1.0,NaN,NaN
1,2024-01,236,LK1006R,mobile-lankans,EL,Mobiles & Tablets,Mobile Accessories,Cables & Converters,NaN,NaN,NaN,Marketplace,Daraz,9.611613,4.456435,2.0,2.0,2.0,NaN,NaN
2,2024-01,276,LK1007W,Supersavings,FMCG,Mother & Baby,Baby Personal Care,Bathing Tubs & Seats,NaN,NaN,NaN,Marketplace,Daraz,0.968472,0.968472,1.0,1.0,1.0,NaN,NaN
3,2024-01,276,LK1007W,Supersavings,GM,Kitchen & Dining,Kitchen Utensils,Meat & Poultry Tools,NaN,NaN,NaN,Marketplace,Daraz,4.873451,0.000000,1.0,2.0,1.0,NaN,NaN
4,2024-01,1709,LK101DU,BRADOO,GM,Toys & Games,Remote Control & Play Vehicles,Play Vehicles,Vehicle Playsets,NaN,NaN,Crossborder,DarazGlobal,4.612140,4.612140,1.0,1.0,1.0,NaN,NaN

In [ ]:
#display the first few rows of the dataframe 2023

df2023.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category4_name_en,venture_category5_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2023-01,12,LK1000C,Brantel Lanka Pvt Limited,EL,Mobiles & Tablets,Feature Phones,NaN,NaN,NaN,NaN,Marketplace,DarazMall,1296.070683,899.802744,84.0,104.0,74.0,NaN,NaN
1,2023-01,12,LK1000C,Brantel Lanka Pvt Limited,EL,Mobiles & Tablets,Tablets,NaN,NaN,NaN,NaN,Marketplace,DarazMall,794.736491,303.555888,10.0,10.0,6.0,NaN,NaN
2,2023-01,34,LK1000Z,Catchme,EL,Home Appliances,Small Kitchen Appliances,Food Preparation,Mixers,NaN,NaN,Marketplace,Daraz,315.868209,315.868209,2.0,2.0,2.0,NaN,NaN
3,2023-01,34,LK1000Z,Catchme,EL,Mobiles & Tablets,Mobile Accessories,Docks & Stands,NaN,NaN,NaN,Marketplace,Daraz,8.905394,8.905394,1.0,1.0,1.0,NaN,NaN
4,2023-01,34,LK1000Z,Catchme,FMCG,Groceries,Beverages,Coffee,NaN,NaN,NaN,Marketplace,Daraz,11.179911,11.179911,1.0,1.0,1.0,NaN,NaN

In [ ]:
#display the first few rows of the dataframe 2022

df2022.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category4_name_en,venture_category5_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2022-01,236,LK1006R,mobile-lankans,GM,Furniture & Decor,Furniture,Living Room Furniture,Sofa Covers & Slips,NaN,NaN,Marketplace,Daraz,29.665589,29.665589,3.0,3.0,3.0,NaN,NaN
1,2022-01,276,LK1007W,Supersavings,GM,Furniture & Decor,Furniture,Living Room Furniture,Sofas,NaN,NaN,Marketplace,Daraz,49.242965,49.242965,1.0,1.0,1.0,NaN,NaN
2,2022-01,276,LK1007W,Supersavings,GM,Kitchen & Dining,Dinnerware,Bowls,NaN,NaN,NaN,Marketplace,Daraz,157.701414,100.956070,14.0,16.0,12.0,NaN,NaN
3,2022-01,1708,LK101DT,ToHayie,GM,Motors,Automotive,Auto Parts & Spares,Engine Parts,Fuel Filters,NaN,Crossborder,DarazGlobal,6.880630,6.880630,1.0,1.0,1.0,NaN,NaN
4,2022-01,1708,LK101DT,ToHayie,GM,Motors,Automotive,Auto Tires & Wheels,Tire Accessories & Parts,Tire Pressure Monitoring Systems,NaN,Crossborder,DarazGlobal,77.673746,53.196057,4.0,4.0,4.0,NaN,NaN

In [ ]:
# i used this query to understand the dataset better, by knowing how many columns and rows the dataset has, how many missing values are found, what are the data types of the columns and finally got a statistical summary for each dataset

df2022.shape
df2022.info()
df2022.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298435 entries, 0 to 298434
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   month                      298435 non-null  object
 1   seller_id                  298435 non-null  int64
 2   shop_account_code          298435 non-null  object
 3   shop_account_name          298435 non-null  object
 4   industry_name              298181 non-null  object
 5   venture_category1_name_en  298435 non-null  object
 6   venture_category2_name_en  298435 non-null  object
 7   venture_category3_name_en  293419 non-null  object
 8   venture_category4_name_en  150959 non-null  object
 9   venture_category5_name_en  38842 non-null   object
 10  venture_category6_name_en  2536 non-null    object
 11  business_area              298434 non-null  object
 12  business_type              298434 non-null  object
 13  gmv                        298434 non-null  float64
 14  nmv                        298434 non-null  float64
 15  orders                     298434 non-null  float64
 16  items                      298434 non-null  float64
 17  buyers                     298434 non-null  float64
 18  pdp_uv                     0 non-null       float64
 19  pdp_pv                     0 non-null       float64
dtypes: float64(7), int64(1), object(12)
memory usage: 45.5+ MB

,seller_id,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
count,2.984350e+05,298434.000000,298434.000000,298434.000000,298434.000000,298434.000000,0.0,0.0
mean,6.609027e+11,101.630018,76.949583,10.661935,14.339217,9.363635,NaN,NaN
std,4.734899e+11,1701.329580,1604.540859,108.737699,216.242712,57.168244,NaN,NaN
min,1.000000e+00,0.000000,0.000000,1.000000,1.000000,1.000000,NaN,NaN
25%,1.015807e+06,6.089957,2.146161,1.000000,1.000000,1.000000,NaN,NaN
50%,1.000123e+12,15.064981,9.199158,2.000000,2.000000,2.000000,NaN,NaN
75%,1.000124e+12,45.429182,31.136049,6.000000,7.000000,5.000000,NaN,NaN
max,1.000221e+12,394641.124759,394641.124759,25100.000000,68378.000000,7519.000000,NaN,NaN

In [ ]:

# i used this query to understand the dataset better, by knowing how many columns and rows the dataset has, how many missing values are found, what are the data types of the columns and finally got a statistical summary for each dataset

df2023.shape
df2023.info()
df2023.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300008 entries, 0 to 300007
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   month                      300008 non-null  object
 1   seller_id                  300008 non-null  int64
 2   shop_account_code          300008 non-null  object
 3   shop_account_name          300008 non-null  object
 4   industry_name              299841 non-null  object
 5   venture_category1_name_en  300008 non-null  object
 6   venture_category2_name_en  300007 non-null  object
 7   venture_category3_name_en  295229 non-null  object
 8   venture_category4_name_en  152473 non-null  object
 9   venture_category5_name_en  38747 non-null   object
 10  venture_category6_name_en  2769 non-null    object
 11  business_area              300007 non-null  object
 12  business_type              300007 non-null  object
 13  gmv                        300007 non-null  float64
 14  nmv                        300007 non-null  float64
 15  orders                     300007 non-null  float64
 16  items                      300007 non-null  float64
 17  buyers                     300007 non-null  float64
 18  pdp_uv                     0 non-null       float64
 19  pdp_pv                     0 non-null       float64
dtypes: float64(7), int64(1), object(12)
memory usage: 45.8+ MB

,seller_id,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
count,3.000080e+05,300007.000000,300007.000000,300007.000000,300007.000000,300007.000000,0.0,0.0
mean,7.148507e+11,91.909438,71.802617,11.359285,13.790028,9.920935,NaN,NaN
std,4.515852e+11,1161.780747,1100.304501,124.111327,145.311484,60.111445,NaN,NaN
min,1.200000e+01,0.000000,0.000000,1.000000,1.000000,1.000000,NaN,NaN
25%,1.019787e+06,6.442980,3.786524,1.000000,1.000000,1.000000,NaN,NaN
50%,1.000123e+12,15.743804,11.210415,2.000000,2.000000,2.000000,NaN,NaN
75%,1.000125e+12,46.242595,34.908460,6.000000,7.000000,5.000000,NaN,NaN
max,1.000221e+12,292577.647736,292577.647736,33416.000000,36393.000000,8210.000000,NaN,NaN

In [ ]:

# i used this query to understand the dataset better, by knowing how many columns and rows the dataset has, how many missing values are found, what are the data types of the columns and finally got a statistical summary for each dataset

df2024.shape
df2024.info()
df2024.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280323 entries, 0 to 280322
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   month                      280323 non-null  object
 1   seller_id                  280323 non-null  int64
 2   shop_account_code          280322 non-null  object
 3   shop_account_name          280322 non-null  object
 4   industry_name              280124 non-null  object
 5   venture_category1_name_en  280284 non-null  object
 6   venture_category2_name_en  280284 non-null  object
 7   venture_category3_name_en  276905 non-null  object
 8   venture_category4_name_en  145398 non-null  object
 9   venture_category5_name_en  36245 non-null   object
 10  venture_category6_name_en  2354 non-null    object
 11  business_area              280322 non-null  object
 12  business_type              280322 non-null  object
 13  gmv                        280322 non-null  float64
 14  nmv                        280322 non-null  float64
 15  orders                     280322 non-null  float64
 16  items                      280322 non-null  float64
 17  buyers                     280322 non-null  float64
 18  pdp_uv                     0 non-null       float64
 19  pdp_pv                     0 non-null       float64
dtypes: float64(7), int64(1), object(12)
memory usage: 42.8+ MB

,seller_id,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
count,2.803230e+05,280322.000000,280322.000000,280322.000000,280322.000000,280322.000000,0.0,0.0
mean,7.702269e+11,92.018922,67.671309,12.497424,15.095308,11.006707,NaN,NaN
std,4.208115e+11,580.940730,456.886298,88.686805,104.302865,59.582928,NaN,NaN
min,1.200000e+01,0.000000,0.000000,1.000000,1.000000,1.000000,NaN,NaN
25%,1.000122e+12,6.988630,3.692611,1.000000,1.000000,1.000000,NaN,NaN
50%,1.000124e+12,16.961853,11.099622,2.000000,2.000000,2.000000,NaN,NaN
75%,1.000129e+12,49.180096,34.752247,6.000000,7.000000,6.000000,NaN,NaN
max,1.000236e+12,69864.562189,63326.781796,18392.000000,18392.000000,5860.000000,NaN,NaN

In [ ]:
# i used this query to understand the dataset better, by knowing how many columns and rows the dataset has, how many missing values are found, what are the data types of the columns and finally got a statistical summary for each dataset

df2025.shape
df2025.info()
df2025.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80086 entries, 0 to 80085
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      80086 non-null  object
 1   seller_id                  80086 non-null  int64
 2   shop_account_code          80086 non-null  object
 3   shop_account_name          80086 non-null  object
 4   industry_name              80032 non-null  object
 5   venture_category1_name_en  80076 non-null  object
 6   venture_category2_name_en  80076 non-null  object
 7   venture_category3_name_en  79126 non-null  object
 8   venture_category4_name_en  41245 non-null  object
 9   venture_category5_name_en  10104 non-null  object
 10  venture_category6_name_en  634 non-null    object
 11  business_area              80086 non-null  object
 12  business_type              80086 non-null  object
 13  gmv                        80086 non-null  float64
 14  nmv                        80086 non-null  float64
 15  orders                     80086 non-null  int64
 16  items                      80086 non-null  int64
 17  buyers                     80086 non-null  int64
 18  pdp_uv                     0 non-null      float64
 19  pdp_pv                     0 non-null      float64
dtypes: float64(4), int64(4), object(12)
memory usage: 12.2+ MB

,seller_id,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
count,8.008600e+04,80086.000000,80086.000000,80086.000000,80086.000000,80086.000000,0.0,0.0
mean,7.836709e+11,72.908001,53.922916,10.541930,13.400607,9.252279,NaN,NaN
std,4.118809e+11,384.737479,290.998945,63.830412,110.473049,45.572596,NaN,NaN
min,1.200000e+01,0.000000,0.000000,1.000000,1.000000,1.000000,NaN,NaN
25%,1.000122e+12,6.237834,3.673823,1.000000,1.000000,1.000000,NaN,NaN
50%,1.000124e+12,14.289322,9.855505,2.000000,2.000000,2.000000,NaN,NaN
75%,1.000133e+12,40.646035,29.519081,5.000000,6.000000,5.000000,NaN,NaN
max,1.000242e+12,30267.340338,28664.701944,6043.000000,15752.000000,2893.000000,NaN,NaN

In [ ]:
#counting missing values in each column for df2022

df2022.isnull().sum()

month                             0
seller_id                         0
shop_account_code                 0
shop_account_name                 0
industry_name                   254
venture_category1_name_en         0
venture_category2_name_en         0
venture_category3_name_en      5016
venture_category4_name_en    147476
venture_category5_name_en    259593
venture_category6_name_en    295899
business_area                     1
business_type                     1
gmv                               1
nmv                               1
orders                            1
items                             1
buyers                            1
pdp_uv                       298435
pdp_pv                       298435
dtype: int64

In [ ]:

#counting missing values in each column for df2023

df2023.isnull().sum()

month                             0
seller_id                         0
shop_account_code                 0
shop_account_name                 0
industry_name                   167
venture_category1_name_en         0
venture_category2_name_en         1
venture_category3_name_en      4779
venture_category4_name_en    147535
venture_category5_name_en    261261
venture_category6_name_en    297239
business_area                     1
business_type                     1
gmv                               1
nmv                               1
orders                            1
items                             1
buyers                            1
pdp_uv                       300008
pdp_pv                       300008
dtype: int64

In [ ]:
#counting missing values in each column for df2024

df2024.isnull().sum()

month                             0
seller_id                         0
shop_account_code                 1
shop_account_name                 1
industry_name                   199
venture_category1_name_en        39
venture_category2_name_en        39
venture_category3_name_en      3418
venture_category4_name_en    134925
venture_category5_name_en    244078
venture_category6_name_en    277969
business_area                     1
business_type                     1
gmv                               1
nmv                               1
orders                            1
items                             1
buyers                            1
pdp_uv                       280323
pdp_pv                       280323
dtype: int64

In [ ]:
#counting missing values in each column for df2025

df2025.isnull().sum()

month                            0
seller_id                        0
shop_account_code                0
shop_account_name                0
industry_name                   54
venture_category1_name_en       10
venture_category2_name_en       10
venture_category3_name_en      960
venture_category4_name_en    38841
venture_category5_name_en    69982
venture_category6_name_en    79452
business_area                    0
business_type                    0
gmv                              0
nmv                              0
orders                           0
items                            0
buyers                           0
pdp_uv                       80086
pdp_pv                       80086
dtype: int64

In [ ]:
#Drop the columns which is not required.

df2022 = df2022.drop(df2022.columns[8], axis=1)
df2023 = df2023.drop(df2023.columns[8], axis=1)
df2024 = df2024.drop(df2024.columns[8], axis=1)
df2025 = df2025.drop(df2025.columns[8], axis=1)

In [ ]:
df2022 = df2022.drop(df2022.columns[8], axis=1)
df2022.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2022-01,236,LK1006R,mobile-lankans,GM,Furniture & Decor,Furniture,Living Room Furniture,NaN,Marketplace,Daraz,29.665589,29.665589,3.0,3.0,3.0,NaN,NaN
1,2022-01,276,LK1007W,Supersavings,GM,Furniture & Decor,Furniture,Living Room Furniture,NaN,Marketplace,Daraz,49.242965,49.242965,1.0,1.0,1.0,NaN,NaN
2,2022-01,276,LK1007W,Supersavings,GM,Kitchen & Dining,Dinnerware,Bowls,NaN,Marketplace,Daraz,157.701414,100.956070,14.0,16.0,12.0,NaN,NaN
3,2022-01,1708,LK101DT,ToHayie,GM,Motors,Automotive,Auto Parts & Spares,NaN,Crossborder,DarazGlobal,6.880630,6.880630,1.0,1.0,1.0,NaN,NaN
4,2022-01,1708,LK101DT,ToHayie,GM,Motors,Automotive,Auto Tires & Wheels,NaN,Crossborder,DarazGlobal,77.673746,53.196057,4.0,4.0,4.0,NaN,NaN

In [ ]:
df2023 = df2023.drop(df2023.columns[8], axis=1)
df2023.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2023-01,12,LK1000C,Brantel Lanka Pvt Limited,EL,Mobiles & Tablets,Feature Phones,NaN,NaN,Marketplace,DarazMall,1296.070683,899.802744,84.0,104.0,74.0,NaN,NaN
1,2023-01,12,LK1000C,Brantel Lanka Pvt Limited,EL,Mobiles & Tablets,Tablets,NaN,NaN,Marketplace,DarazMall,794.736491,303.555888,10.0,10.0,6.0,NaN,NaN
2,2023-01,34,LK1000Z,Catchme,EL,Home Appliances,Small Kitchen Appliances,Food Preparation,NaN,Marketplace,Daraz,315.868209,315.868209,2.0,2.0,2.0,NaN,NaN
3,2023-01,34,LK1000Z,Catchme,EL,Mobiles & Tablets,Mobile Accessories,Docks & Stands,NaN,Marketplace,Daraz,8.905394,8.905394,1.0,1.0,1.0,NaN,NaN
4,2023-01,34,LK1000Z,Catchme,FMCG,Groceries,Beverages,Coffee,NaN,Marketplace,Daraz,11.179911,11.179911,1.0,1.0,1.0,NaN,NaN

In [ ]:
df2024 = df2024.drop(df2024.columns[8], axis=1)
df2024.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2024-01,34,LK1000Z,Catchme,GM,Sports & Outdoors,Outdoor Recreation,Cycling,NaN,Marketplace,Daraz,2.517528,2.517528,1.0,1.0,1.0,NaN,NaN
1,2024-01,236,LK1006R,mobile-lankans,EL,Mobiles & Tablets,Mobile Accessories,Cables & Converters,NaN,Marketplace,Daraz,9.611613,4.456435,2.0,2.0,2.0,NaN,NaN
2,2024-01,276,LK1007W,Supersavings,FMCG,Mother & Baby,Baby Personal Care,Bathing Tubs & Seats,NaN,Marketplace,Daraz,0.968472,0.968472,1.0,1.0,1.0,NaN,NaN
3,2024-01,276,LK1007W,Supersavings,GM,Kitchen & Dining,Kitchen Utensils,Meat & Poultry Tools,NaN,Marketplace,Daraz,4.873451,0.000000,1.0,2.0,1.0,NaN,NaN
4,2024-01,1709,LK101DU,BRADOO,GM,Toys & Games,Remote Control & Play Vehicles,Play Vehicles,NaN,Crossborder,DarazGlobal,4.612140,4.612140,1.0,1.0,1.0,NaN,NaN

In [ ]:
df2025 = df2025.drop(df2025.columns[8], axis=1)
df2025.head()

,month,seller_id,shop_account_code,shop_account_name,industry_name,venture_category1_name_en,venture_category2_name_en,venture_category3_name_en,venture_category6_name_en,business_area,business_type,gmv,nmv,orders,items,buyers,pdp_uv,pdp_pv
0,2025-01,87,LK1002H,kumara-lakmal,EL,Mobiles & Tablets,Mobile Accessories,Wall Chargers,NaN,Marketplace,Daraz,5.262279,5.262279,1,1,1,NaN,NaN
1,2025-01,87,LK1002H,kumara-lakmal,Fashion,Watches Sunglasses Jewellery,Watches,Unisex,NaN,Marketplace,Daraz,99.846677,84.037208,21,21,5,NaN,NaN
2,2025-01,87,LK1002H,kumara-lakmal,GM,Motors,Automotive,Exterior Vehicle Care,NaN,Marketplace,Daraz,7.333384,7.333384,2,2,2,NaN,NaN
3,2025-01,236,LK1006R,mobile-lankans,FMCG,Health & Beauty,Beauty Tools,Hair Removal Accessories,NaN,Marketplace,Daraz,3.176318,3.176318,1,1,1,NaN,NaN
4,2025-01,236,LK1006R,mobile-lankans,GM,Sports & Outdoors,Exercise & Fitness,Pilates,NaN,Marketplace,Daraz,97.563469,53.049824,19,20,16,NaN,NaN

In [ ]:
# used to chek for duplicate rows and remove them
df2022.duplicated().sum()
df2022 = df2022.drop_duplicates()

In [ ]:
# used to chek for duplicate rows and remove them

df2023.duplicated().sum()
df2023 = df2023.drop_duplicates()

In [ ]:
# used to chek for duplicate rows and remove them

df2024.duplicated().sum()
df2024 = df2024.drop_duplicates()

In [ ]:
# used to chek for duplicate rows and remove them

df2025.duplicated().sum()
df2025 = df2025.drop_duplicates()

In [ ]:
# Converting the 'month' column to datetime format
df2022['month'] = pd.to_datetime(df2022['month'])
df2023['month'] = pd.to_datetime(df2023['month'])
df2024['month'] = pd.to_datetime(df2024['month'])
df2025['month'] = pd.to_datetime(df2025['month'])